/* General Settings */

:root{
    --background-color: #500000;
    --dark-color: #000000;

    --color-light: #ffffffd0;
}

body{
    background: rgb(0,0,6);
    background: linear-gradient(90deg, rgba(0,0,6,0.9766500350140056) 0%, rgba(155,0,0,0.9682466736694678) 100%);
}

.spacer{
    height: 40px !important;
}

/* Text Manipulation */

.light-text{
    color: var(--color-light) !important;
}

/* Navigation Menu */

.navbar{
    background: rgb(0,0,6);
    background: linear-gradient(90deg, rgba(0,0,6,0.9766500350140056) 0%, rgba(149,0,0,0.9682466736694678) 100%);
}


/* Video Background */

.video-container {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .background-video {
    width: 100%;
    height: auto;
    z-index: 1; 
  }
  
  .video-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white; 
  }
  

/* Typewrite Animation */

.typewriter h1 {
    width: 500px;
    overflow: hidden;
    color: var(--color-light);
    border-right: .15em solid rgb(255, 255, 255);
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }

/* Mobile Device */
@media only screen and (max-width: 768px) {
   
}